.button {
  padding: 8px 14px;

  border: 1px solid #2a2a2a;
  border-radius: 5px;
  margin: 0px 10px 0px 10px;
  background: #1e1e1e;
  color: #fff;

  font-size: 14px;

  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    border-color: #646cff;
    background: #2a2a2a;
  }

  &:active {
    transform: scale(0.97);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    background: #141414;
    border-color: #1f1f1f;
  }
}